:root {
    --color1: #F5F5F5;
    --color2: #FF6B35;
    --color3: #2D3142;
    --color4: #4F5D75;
    --color5: #FFFFFF;
    --color6: #485e92;
}


body.oscuro {
  --color1: #F5F5F5;
  --color2: #E76F51; 
  --color3: #2D3142;
  --color4: #252836;
  --color5: #4F5D75; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    background-color: var(--color4);
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #111;
}



/* ------------------------  CSS ELEMENTO  ------------------------ */


/* seccion foto y info del articulo */
article {
    display: flex;
    justify-content: center;
    background-color: var(--color4);
}


.completo {
    display: flex;
    justify-content: center;
    width: auto;
    max-width: 100%;
    height: 100%;
    background-color: var(--color5);
    margin: 5%;
    align-items: flex-start;
    border-radius: 9px;
}

.contenedor_imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    position: sticky;
    flex: 1;
    align-self: flex-start;
    top: 20px;
    max-width: 40%;
}

.contenedor_texto {
    display: inline-block;
    justify-content: center;
    margin: 5% 5% 5% 2%;
    flex: 2;
    border: 1.5px #e6e0e0 solid;
    border-radius: 10px;
    padding: 30px;
    max-width: 40%;
}

.imagenPrincipal {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    margin: 0 auto;
    border: #111 1px solid;
}

.titulo_producto {
    justify-content: center;
    margin: 0;
    padding: 5px 0 0 0;
}

.contenedor_precio {
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0;
}

.precio {
    font-size: 2rem;
    margin: 2% 0;
    padding: 0;
    font-weight: 900;
    color: var(--color2); /* precios en naranja */
}

.contenedor_envio {
    margin: 0;
    padding: 5px 0;
}

.envio {
    color: var(--color3);
    font-size: 1.5rem;
}

.contenedor_botones {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.botonElemento {
    border-radius: 7px;
    background-color: var(--color2);
    color: white;
    margin: 5px 5px 5px 0;
    justify-content: center;
    display: inline;
    height: 2.2rem;
    width: 8rem;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.botonElemento:hover {
    background-color: #e65b2a; /* naranja más oscuro */
}

.cantidad{
  border-radius: 7px;
  height: 2.2rem;
  width: 2rem;
  background-color: var(--color2);
  color: white;
  justify-content: center;
}

.contenedor_medios {
    margin: 0;
    padding: 5px 0;
    font-size: 1.2rem;
    color: var(--color4);
}

.contenedor_medios h3 p {
    text-decoration: underline;
}

.contenedor_medios img {
    margin: 10px 10px 10px 0;
}

.contenedor_medios img:hover {
    background-color: var(--color1);
    cursor: pointer;
    border-radius: 9px;
}

.contenedor_estrellas {
    margin: 0;
    padding: 7px 0 15px 0;
}

.descripcion_parrafo {
  padding: 15px 5px;
}

footer {
    background: var(--color3);
    color: white;
    text-align: center;
    padding: 1rem;
}


/* ==========  PC  ========== */
@media (min-width: 1200px) {
  .completo {
    flex-direction: row;
    margin: 5%;
  }

  .contenedor_imagen {
    max-width: 40%;
    position: sticky;
    top: 20px;
  }

  .contenedor_texto {
    max-width: 40%;
  }
}

/* ========== Laptop  ========== */
@media (max-width: 1199px){
  .completo {
    flex-direction: row;
    gap: 20px;
  }

  .contenedor_imagen {
    position: sticky;
    top: 15px;
  }

  .contenedor_texto {
    padding: 20px;
  }
}

/* ==========  Tablet  ========== */
@media (max-width: 992px) {

  .completo {
    flex-direction: column;
    align-items: center;
    margin: 2%;
  }

  .contenedor_imagen {
    max-width: 100%;
    margin: 4%;
    margin-bottom: 0;
    position: static;
  }

  .contenedor_texto {
    max-width: 90%;
    margin: 4%;
    margin-bottom: 4%;
    justify-content: center;
    align-items: center;
  }
  
  .contenedor_imagen {
    align-items: center;
    justify-content: center;
  }

  button {
    width: 100%;
  }

  
}

/* ========== Celular ========== */
@media (max-width: 480px) {
  header {
    font-size: 2rem;
    padding: 1rem;
  }

  .completo {
    flex-direction: column;
    margin: 1%;
  }

  .contenedor_imagen,
  .contenedor_texto {
    max-width: 100%;
    margin: 5px 0;
    padding: 10px;
    position: static; /* quita sticky */
  }

  .precio {
    font-size: 1.2rem;
  }

  .envio {
    font-size: 1rem;
  }

  button {
    width: 100%;
    height: 2.5rem;
    font-size: 1rem;
  }
}


@font-face {
    font-family: 'Titulo'; 
    src: url('../assets/fonts/Dreamline2.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes aparecer {
    from { transform: translateX(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
