:root {
  --color1: #0D0F36;
  --color2: #294380;
  --color3: #69d2cd;
  --color4: #b9f1d6;
  --color5: #f1f6ce;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: var(--color1);
  color: white;
  text-align: center;
  font-size: 3rem;
  padding: 2rem;
  width: 100%;
}

nav {
  display: flex;
  height: 3rem;
  width: 100%;
}

nav a {
  background-color: var(--color2);
  color: #fff;
  flex: 1;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
}

nav a:hover {
  background-color: #485e92;
}

body {
  min-height: 100vh;
  background: #999;
  display: flex;
  flex-direction: column; /* Header y nav arriba */
  align-items: center;    /* Centramos horizontal */
}

.contenedor {
  position: relative;
  width: 400px;
  height: 500px;
  background: #fcebb6;
  border-radius: 20px;
  padding: 40px;
  overflow: hidden;
  margin-top: 2rem;
}

.formulario_contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 1s ease-in-out;
}

/*antes de la animacion*/
.formulario_contenedor.iniciar_sesion {
  transform: translateY(0);
}

.formulario_contenedor.registrarse {
  position: absolute;
  top: 450px;
  left: 0;
  transform: translateY(0);
}

/* una vez clickeado */
.contenedor.activo .formulario_contenedor.iniciar_sesion {
  transform: translateY(-450px);
}

.contenedor.activo .formulario_contenedor.registrarse {
  transform: translateY(-450px);
}


h2 {
  font-size: 30px;
  color: black;
  text-align: center;
}

.grupo_input {
  position: relative;
  margin: 30px 0;
  border-bottom: 2px solid black;
}

.grupo_input label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: black;
  pointer-events: none;
  transition: 0.5s;
}

.grupo_input input {
  width: 320px;
  height: 40px;
  font-size: 16px;
  color: black;
  padding: 0 5px;
  background: transparent;
  border: none;
  outline: none;
}

.grupo_input input:focus ~ label,
.grupo_input input:valid ~ label {
  top: -5px;
}

.recordar {
  margin: -5px 0 15px 5px;
}

.recordar label {
  color: black;
  font-size: 14px;
}

.recordar input:hover {
  cursor: pointer;
  background-color: #999;
}

button {
  position: relative;
  width: 100%;
  height: 40px;
  background: black;
  font-size: 16px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  outline: none;
}

.enlace_registro {
  font-size: 14px;
  text-align: center;
  margin: 15px 0;
}

.enlace_registro p {
  color: black;
}

.enlace_registro p a:hover {
  text-decoration: underline;
}

.enlace_registro p a:visited {
  color: rgb(22, 22, 199);
}

footer {
    background: var(--color1);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 19%;
    width: 100%;
}
