* {
    margin: 0;
    padding: 0;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #999;
}

.formulario_inicio {
    background-color: #fcebb6;
    padding: 20px;
    border-radius: 10px;
    height: 350px;
}

.titulo_inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    padding-top: 15%;
}


.recordar {
    margin: 5%;
}

.boton_inicio {
    justify-content: center;
    align-items: center;
    display: flex;
}

button {
    border-radius: 50px;
    width: 100%;
    height: 2rem;
    margin: 5%;
}

.parrafo {
   padding: 5%;
}
