* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color1: #0D0F36;
    --color2: #294380;
    --color3: #69d2cd;
    --color4: #b9f1d6;
    --color5: #f1f6ce;
}

header {
    background: var(--color1);
    color: white;
    text-align: center;
    font-size: 3rem;
    padding: 2rem;
}

nav {
    display: flex;
    height: 3rem;
}

nav a {
    background-color: var(--color2);
    color: #fff;
    flex: 1;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
}

nav a:hover {
    background-color: #485e92;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #999;
}

.formulario_inicio,  .formulario_registro {
    background-color: #fcebb6;
    padding: 20px;
    border-radius: 10px;
    height: 90%;
    width: 35%;
    transition: 1s ease-in-out;
}


.titulo_inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1.2rem;
    width: 100%;
    text-decoration: underline;
    white-space: nowrap;
}

#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3%;
}

#formulario input {
    padding: 5px;
    margin: 3%;
    border-radius: 10px;
    width: 60%;
    height: 50px;
}

.boton {
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 35px;
}

.boton:hover {
    cursor: pointer;
    background-color: #999;
}

.recordar {
    display: flex;
    justify-content: center;
    margin: 12%;
    margin-top: 5%;
}

.recordar input:hover {
    cursor: pointer;
}

.parrafo {
    display: flex;
    justify-content: center;
}

/*menores a 1200px*/
@media (max-width: 1199px) {
    .titulo_inicio {
        font-size: 1.4rem;
        padding: 2rem;
    }
}
/*menores a 993px*/
@media (max-width: 992px) {
    .formulario_inicio {
        width: 50%;
    }
    .titulo_inicio {
        font-size: 1.3rem;
    }
}
/*menores a 481px*/
@media (max-width: 480px) {
    .formulario_inicio {
        width: 70%;
    }
    .titulo_inicio {
        font-size: 1.2rem;
        padding: 1rem;
    }
}
